{% extends 'base_tem/base_templates.html' %}
{% block content %}

<!-- Message Part -->
{% if messages %}
            <div class="col-md-12">
                {% for message in messages %}
                
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                   {% else %}
                    <div class="alert alert-success alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                     {% endif %}
    
                {% endfor %}
            {% endif %}

<h2>Login Here </h2>

<form action="{% url 'partseven:user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter Username">

    <label for="password">Password</label>
    <input type="password" name="password">

    <input type="submit" name="" value="Login">
</form>

{% endblock %}