{% extends 'base_tem/base_templates.html' %}
{% load static %}
{% block content %}

<!-- Message Part -->
{% if messages %}
            <div class="col-md-12">
                {% for message in messages %}
                
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                   {% else %}
                    <div class="alert alert-success alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                     {% endif %}
    
                {% endfor %}
            {% endif %}

            <!-- End Message Part -->
            <a href="http://127.0.0.1:8000/partseven/user_login/">Logout</a>
<h1>Form Page</h1>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
{% endblock %}